@define-color main-color #c53b53;
@define-color background transparent;

* {
  font: bold 15px "Intel One Mono";
  border: none;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
}

window#waybar {
  background: alpha(@background, 0.3);
  border: 1px solid @main-color;
  border-radius: 0px;
}

#window {
  padding: 2px 10px;
  margin: 4px 2px 4px 4px;
  background: alpha(@background, 0.3);
  border-radius: 10px;
  color: lighter(@main-color);
}

tooltip {
  background: alpha(@background, 0.3);
  border: 2px solid alpha(lighter(@main-color), 0.3);
  border-radius: 10px;
}

tooltip label {
  color: @main-color;
}

#workspaces {
  margin: 4px 4px;
  background: alpha(@background, 0.5);
  border-radius: 10px;
}

#workspaces button {
  padding: 0px 4px;
  margin: 4px 4px;
  color: alpha(@main-color, 0.5);
}

#workspaces button.active {
  transition: color 0.5s;
  color: lighter(@main-color);
}

#workspaces button.urgent,
#workspaces button:hover {
  color: @color5;
  background-color: transparent;
}

#custom-icon {
  padding: 0px 8px;
  margin: 4px 2px 4px 2px;
  background: alpha(@background, 0.3);
  border-radius: 10px;
  color: lighter(@main-color);
}

.custom-spotify{
  padding: 0px 8px;
  margin: 4px 2px 4px 2px;
  background: alpha(@background, 0.3);
  border-radius: 10px;
  color: lighter(@main-color);
}

#clock {
  padding: 0px 8px;
  margin: 4px 2px 4px 2px;
  background: alpha(@background, 0.3);
  border-radius: 10px;
  color: lighter(@main-color);
}

#tray{
  padding: 0px 8px;
  margin: 4px 2px 4px 2px;
  background: alpha(@background, 0.3);
  border-radius: 10px;
  color: lighter(@main-color);
}
#network{
  padding: 0px 8px;
  margin: 4px 2px 4px 2px;
  background: alpha(@background, 0.3);
  border-radius: 10px;
  color: lighter(@main-color);
}
#pulseaudio{
  padding: 0px 8px;
  margin: 4px 2px 4px 2px;
  background: alpha(@background, 0.3);
  border-radius: 10px;
  color: lighter(@main-color);
}
#battery {
  padding: 0px 8px;
  margin: 4px 2px 4px 2px;
  background: alpha(@background, 0.3);
  border-radius: 10px;
  color: lighter(@main-color);
}
